body{
    background-color: beige;
}

.contenedor{
background-color: rgb(255, 255, 255);
width: 30vw;
border-style: solid;
border-radius: 7px;
border-color: rgb(218, 218, 218);
border-width: 2px;
}
input{
    border:none;
    outline: none;
    width:100%;
}

.tarea{
    border:rgb(223, 223, 223);
    border-width: 1px;
    border-style: none none solid none;
}
.tareasPendientes{
    font-size:13px;
    color:grey;
}

.cruz{
    color:white;
}


  .tarea:hover .cruz { /* this works */
    color: rgb(158, 4, 4);
  }